<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">


          <h1>
            {{ site.title | escape }}
          </h1>
          <h2>
           {{ site.title2 | escape }}
          </h2>


      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">About</a>

      <a class="sidebar-nav-item{% if page.url == /reserach/ %} active{% endif %}" href="/research/">Research</a>
      <a class="sidebar-nav-item{% if page.url == /talks/ %} active{% endif %}" href="/talks/">Talks</a>
      <a class="sidebar-nav-item{% if page.url == /videotalks/ %} active{% endif %}" href="/videotalks/">Recorded talks</a>
      <a class="sidebar-nav-item{% if page.url == /cv/ %} active{% endif %}" href="/cv/">CV</a>
      <a class="sidebar-nav-item{% if page.url == /contact/ %} active{% endif %}" href="/contact/">Contact</a>
      <a class="sidebar-nav-item{% if page.url == /more/ %} active{% endif %}" href="/more/">More</a>
    </nav>
  </div>
</div>
